

body, html{
  width: 100%;
  height: auto;
  text-align:center;
  color: white;
  margin: 0;
  padding:0;

}


nav {
  position: fixed;
  top:0;
  height:50px;
  width: 100%;
  background: dodgerblue ;
  color:white;
  z-index:10;


}
nav > ul {
  padding:0;
  margin:0;
  border: 2px solid black;
  background: black;
  text-align: center;
}

nav > ul >  li {
display:inline;
list-style-type: none;
font-size: 20px;
padding: 100px;


}

.header {
  margin-top: 0;
  border: 3px solid black;
  background: -webkit-linear-gradient(left, rgba(87,77,153,1) 5%, rgba(26,114,195,1) 33%, rgba(107,189,203,1) 66%, rgba(107,203,196,1) 88%);
  background: -moz-linear-gradient(left, rgba(87,77,153,1) 5%, rgba(26,114,195,1) 33%, rgba(107,189,203,1) 66%, rgba(107,203,196,1) 88%);


}
h1{
  display:inline-block;
  font-size: 100px;
  font-family: 'Fredoka One', cursive;
  text-shadow: 5px 5px black;
  color:white;
}
h1:hover{

  font-family: 'Fredoka One', cursive;
  text-shadow: 5px 5px white;
  color:black;
}


h2 {
  font-family: 'Fredoka One', cursive;
  color:white;
  padding-bottom: 60px;
  text-shadow: 3px 2px black;

}

h3 {
  font-size: 40px;
  margin:0;
  padding: 0;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: dodgerblue;
}


p{
  font-family: 'Nanum Myeongjo', serif;
  font-weight:bold;
}

ul  {
  list-style: none;
  line-height: 30px;

}

img {
  border-radius: 10%;
  margin-bottom: 10px;
  border-style: outset;
}
.minibox {
  width: 340px;
  margin: 0 auto;
  padding: 3px 5px 3px 5px;
  position: relative;
  height: auto;
  text-align:center;
  opacity: .7;
  color: black;
}

.minibox:hover {
  background:black;
  color:white;
  border-radius: 20px;

}

.container{
  width: 100%;

  display:block;
}

.main {
  width: 100%;
  height:500px;
  background: url("beautiful.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  justify-content: space-around;
  border: 3px solid black;
}

.Technologies {
  width: 100%;
  height:500px;
  border: 3px solid black;
  background: 	honeydew;
  color: dodgerblue;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  font-weight:bolder;
  line-height: 1em;
  letter-spacing: 3px;

}

#techs:hover{
font-family: 'Henny Penny', cursive;
font-size: 35px;
color: red;
line-height: 1.0em;
text-shadow: 1px 1px black;
}

.left {
margin: 30px 0px 30px 20px;
width: 50%;

}

.left:hover {
margin: 30px 20px 30px 20px;
width: 50%;
background: black;
opacity: .80;
border-radius: 10%;

}
.right {
margin: 30px 20px 30px 0px;
width: 50%;


}

.right:hover {
margin: 30px 20px 30px 20px;
width: 50%;
background: black;
opacity: .80;
border-radius: 10%;

}

#contact {
  padding: 20px;
  background-color:#e69e6d;
  border: 3px solid black;

}

button {
  padding:10px;
  background: white;
  margin: 10px;
}

button:hover {

  padding:10px;
  background: black;
  margin: 10px;
  color: white;
}

button:active{
  background: dodgerblue;

}
